<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>Classification of cats</h2>
  <div *ngFor="let owner of owners">
    <ul class="unOrderedList">{{owner.gender}}</ul>
    <ol *ngFor="let cat of owner.pets">
      <li class="listItem">{{cat.name}}</li>
    </ol>
  </div>
</div>
